{% extends "base.html.twig" %}
{% block page_header %}{{ model.name }}{% endblock %}
{% block page_header_description %}Creating {{ model.name }}{% endblock %}
{% block breadcrumb_active %}Models{% endblock %}
{% block body_title %}Add all the necessary information{% endblock %}

{% block body_content %}
    {{ start_crud_form(model, transaction_id) }}
        <div class="box-body">
            {{ render_crud_form(model, transaction_id) }}
        </div>
        <div class="box-footer">
            <a class="btn btn-default" href="{{ path('app_crud_index', {"modelId": model.id}) }}">Go to list</a>
            <button type="submit" class="btn btn-success pull-right">{{ transaction_id ? "Update" : "Create" }}</button>
        </div>
    {{ end_crud_form() }}
{% endblock %}