{% extends "base.html.twig" %}
{% block page_header %}Models{% endblock %}
{% block page_header_description %}list of all models{% endblock %}
{% block breadcrumb_active %}Models{% endblock %}
{% block body_title %}View the full list of models{% endblock %}

{% block body_toolbox %}
    <div class="box-tools">
        <a href="{{ path('app_model_create') }}" class="btn btn-xs btn-primary">Create new model</a>
    </div>
{% endblock %}

{% block body_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Visible in Sidebar</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name }}</td>
                    <td>{{ bool_view(model.visibleInSidebar) }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('app_fields_create', {"modelId": model.id}) }}" class="btn btn-xs btn-primary">Fields</a>
                            <a href="{{ path('app_model_create', {"id": model.id}) }}" class="btn btn-xs btn-default">Edit</a>
                            <a href="{{ path('app_model_delete', {"id": model.id}) }}" class="btn btn-xs btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No models available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}